body {
  // font-family: "Roboto", sans-serif;
  // color: #212121;
  background-color: #ffffff;
}

/* Сброс стилей / Reset styles */
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin: 0;
// }
a {
  text-decoration: none; /* Убираем подчеркивание в ссылках  */
}

// ul {
//   padding: 0;
//   margin: 0;
//   list-style: none; /* Убираем маркеры */
// }

img {
  display: block;
  width: 100%; /* Recomanded */
  max-width: 100%;
  height: auto; /* Recomanded */
}

/* Репета рекомендовал */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.item {
  font-size: 10px;
}
